:root{
    scrollbar-color: #006500 #000000;
    scrollbar-width: thin;
    background: #0d1117;
}
a {
    text-decoration: none;
    color: inherit;
}
a:hover {
    text-decoration: underline;
    color: #29614b;
}
#WIP {
    font-size: 20px;
    text-align: center;
}

@media (hover: none) and (pointer: coarse) {
  body {
    font-family: sans-serif;
  }
}
body {
    margin: 0;
    color: #e3e3e3;
    font-family: "Comic Sans MS", sans-serif;
}
