#kryshka {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: #acacac;
  color: white;
  box-shadow: 0 2px 5px rgba(0,0,0,0.3); /* тень — для красоты */
  z-index: 1000;
}
.xh1 {
    padding-bottom: 20px;
}