#kryshka {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background: #acacac;
    color: white;
    z-index: 1000;
}
#xh1 {
    margin-bottom: 5000px;
}
#xh1 a {
    text-decoration: none;
    color: inherit;
}
#xh1 a:hover {
    text-decoration: underline;
}
#content {
    margin-top: 70px;
}